<div class="message-card">
    
    <div class="message-card-user">
        <%= message.user %>
    </div>
    <div class="message-card-date">
        <%= message.added.toDateString() %>
    </div>
    <div class="message-card-text">
        <%= message.text %>
    </div>





</div>